.content-area {
  padding: 20px;
  margin-top: 80px;  
  padding-left: 260px; 
  overflow-y: auto;
  height: calc(100vh - 80px); 
}

.question-item {
  margin-bottom: 30px;
}

.question-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #0A2A47;
}

textarea {
width: 80%; 
height: 150px; 
padding: 10px; 
font-size: 16px; 
border: 1px solid #ccc; 
border-radius: 4px;
resize: none;
font-family: 'Times New Roman', Times, serif;
}

textarea:focus {
  border-color: #0A2A47;
  outline: none;
}

.next-button {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #0A2A47;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.next-button:hover {
  background-color: #294774;
}
