/* Bookmark Section */
.bookmark-section {
    padding: 20px;
}

.bookmark-search input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bookmark-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bookmark-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bookmark-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 5px;
}

.bookmark-details {
    display: flex;
    flex-direction: column;
}

.bookmark-details h3 {
    margin-bottom: 5px;
    font-size: 17px;
}

.bookmark-details p {
    font-size: 15px;
    color: #555;
}

.sidebar.active {
    transform: translateX(-250px);
    transition: 0.3s;
}


.nav-links li ul.show {
    display: block;
    padding-left: 15px;
    background-color: #0A2A47;
}