body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #0A2A47;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.company-details {
    width: 100%;
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

label {
    margin: 10px 0 5px;
    color: #fff;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1a0439;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #4f0af5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #3c08c3;
}
