/* Ratings Section Styling */
.ratings-section {
    padding: 20px;
    background-color: #9ec6cc;
    border-radius: 8px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px;
    font-size: 20px;
}

.ratings-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #170235;
    margin-bottom: 15px;
    text-align: center;
}

.rating-circle {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.rating-circle p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

.rating-circle .score-circle {
    display: inline-block;
    padding: 20px;
    background-color: #9ec6cc;
    color: #000000;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    width: 100px;
    height: 100px;
}

.ratings-section .average-rating {
    margin-top: 30px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ratings-section .average-rating p {
    font-size: 20px;
    font-weight: bold;
    color: #444;
}

.ratings-section p {
    margin: 10px 0;
}

.ratings-section .score-circle span {
    font-size: 28px;
    font-weight: bold;
}
