* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
body {
    height: 100vh;
    background: url('../image/backgrnd.png') no-repeat center center fixed;
    background-size: cover;
}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
    }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 15px;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
  }

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 20px;
  }

  .logo img {
    width: 35px;
    height: 35px;
    border-radius: 150px;
  }

  .container {
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.title {
    font-size: 25px;
    margin: 0;
}

.content {
    margin-top: 50px;
    padding: 50px;
}

.main-heading {
    font-size: 50px;
    margin: 0 0 10px 0;
    margin-bottom: 50px;
}
.description {
    margin-bottom: 20px;
    font-size: 20px;
}

.sign-up-form {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    width: 30%;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-header h3 {
    margin: 0;
}

.form-header a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sign-up-btn {
    background-color: #515651;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
    text-decoration: none;
}

.sign-up-btn:hover {
    background-color: #45a049;
}

.forgot-password {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    text-align: right;
} 

