{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/applicant-list.css' %}">
    {% comment %} <script src="{% static 'js/Rating.js' %}"></script> {% endcomment %}
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        {% include 'sidebar.html' %}


        <div class="main-content">
            {% include 'topbar.html' %}

            <div class="job-seeker-container">
              <h2>Applicants for Your Job Posts</h2>
              <ul class="job-seeker-list">
                  {% for seeker in job_seekers %}
                      <li>
                          <span>{{ seeker.first_name }} {{ seeker.last_name }}</span>
                          {% if seeker.resume %}
                              <a href="{{ seeker.resume }}" target="_blank" class="view-button">View Resume</a>
                          {% else %}
                              <span>No Resume Available</span>
                          {% endif %}
                          <a href="/virtual-interview" target="_blank" class="view-button">Interview</a>
                      </li>
                  {% empty %}
                      <li>No applicants found for your job posts.</li>
                  {% endfor %}
              </ul>
          </div>
          
        </div>
    </div>
    <script src="{% static 'js/profile.js' %}" > </script>
</body>
</html>
