{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/applicant-list.css' %}">
</head>
<body>
    {% include 'topbar.html' %}
    <main>
      <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main-content-container">

            <div class="job-seeker-container">
              <h2>Applicants for Your Job Posts</h2>
              <ul class="job-seeker-list">
                  {% for seeker in context.job_seekers %}
                      <li>
                          <span>{{ seeker.first_name }} {{ seeker.last_name }}</span>
                          <span>{{ seeker.title }} </span>
                          <span>{{ seeker.mark }} </span>
                          <a href="/virtual-interview?job_seeker_id={{seeker.job_seeker_id}}" target="_blank" class="view-button">Interview</a>
                      </li>
                  {% empty %}
                      <li>No applicants found for your job posts.</li>
                  {% endfor %}
              </ul>
            </div>
          
        </div>
    </div>
  </main>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
