{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/application-list.css' %}">
    {% comment %} <script src="{% static 'js/Apply_list.js' %}"></script> {% endcomment %}
</head>
<body>
    <div class="container">
        {% include 'sidebar.html' %}


        <div class="main-content">
            {% include 'topbar.html' %}
            
            <div class="job-cards-section">
                {% if jobs %} {% for job in jobs %}
                <div class="job-card">
                    <div class="job-card-header">
                        <span class="date">{{job.4}}</span>
                        <a href="/bookmarks?job_post_id={{ job.0 }}">★</a> 
                    </div>
                    <div class="job-card-body">
                        <span class="company-name">{{ job.5 }}</span><br><br>
                        <span class="job-title">{{job.1}}</span>
                    </div>
                    <a href="/assessment" class="applied-button" >Participate</a>
                </div>
                {% endfor %} {% else %}
                    <p>No job posts available.</p>
                {% endif %}
            </div>

        </div>
        
    </div>
    <script src="{% static 'js/profile.js' %}" > </script>
</body>
</html>
