{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/assessment.css' %}">
</head>
<body>
  {% include 'topbar.html' %}
  <main>
    <div class="main-container">
      {% include 'sidebar.html' %}
      <div class="main-content-container">

              <div class="content-area">
                <div class="assessment-container">
                  <form id="assessment-form" method="POST">
                    {% csrf_token %}
                    {% for question in questions %}
                      <div class="question-item">
                        <h2>{{ forloop.counter }}. {{ question }}</h2>
                        <textarea id="question-{{ forloop.counter }}" name="question-{{ forloop.counter }}" maxlength="150" placeholder="Type your answer here..." required></textarea>
                      </div>
                    {% endfor %} 
                    <button type="submit" class="next-button">Submit</button>
                  </form>
                </div>
              </div>              
            </div>
          </div>
        </main>
      
        <script src="{% static 'js/index.js' %}"></script>
        <script src="{% static 'js/preventpaste.js' %}"></script>
      </body>
      </html>
      