{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/assessment-mark.css' %}">
</head>
<body>
    {% include 'topbar.html' %}
    <main>
      <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main-content-container">

            <div class="content-area">
                <div class="assessment-container">
                  
                  {% if not job_post_id and not job_seekers %}
                  <h2>Select Job Post for Job Seeker's Assessment Answers</h2>

                    <div class="job-cards-section">
                      {% if job_post %} {% for job in job_post %}
                      <div class="job-card">
                        <div class="job-card-header">
                          <span class="date">{{job.4}}</span>
                        </div>
                        <div class="job-card-body">
                          <span class="company-name">{{ job.5 }}</span><br /><br />
                          <span class="job-title">{{job.1}}</span>
                        </div>
                        <a href="?job_post_id={{ job.0 }}" class="applied-button"
                          >Select</a
                        >
                      </div>
                      {% endfor %} {% else %}
                      <p>You haven't post anything.</p>
                      {% endif %}
                    </div>
                    
                    {% endif %}
                   
                    {% if job_seekers and not job_seeker_id %}
                    <ul class="job-seeker-list">
                      {% for seeker in job_seekers %}
                          <li>
                              <span>{{ seeker.1 }} {{ seeker.2 }}</span>
                              {% if seeker.4 %}
                                  <a href="/media/resume/{{ seeker.4 }}" target="_blank" class="view-button">View Resume</a>
                              {% else %}
                                  <span>No Resume Available</span>
                              {% endif %}
                              <a href="?job_post_id={{ job_post_id }}&job_seeker_id={{ seeker.0 }}"  class="view-button">Select</a>
                          </li>
                      {% empty %}
                          <li>No applicants found for your job posts.</li>
                      {% endfor %}
                  </ul>
                  {% endif %}
                    
                    {% if job_post_id and job_seeker_id %}
                     
                    <form method="POST" id="assessment-form">
                      {% csrf_token %}

                      {% for answer in answers %}
                          <div class="question-item">
                              {% comment %} <h3>Answer of Job Seeker: {{ answer.0 }}</h3> {% endcomment %}
                                  <h3>Answer for Question 1:</h3>
                                  <textarea readonly>{{ answer.1 }}</textarea>  
                                  <h3>Answer for Question 2:</h3>
                                  <textarea readonly>{{ answer.2 }}</textarea>  
                                  <h3>Answer for Question 3:</h3>
                                  <textarea readonly>{{ answer.3 }}</textarea>  
                                  <h3>Answer for Question 4:</h3>
                                  <textarea readonly>{{ answer.4 }}</textarea>  
                                  <h3>Answer for Question 5:</h3>
                                  <textarea readonly>{{ answer.5 }}</textarea>  
                                  <h3>Answer for Question 6:</h3>
                                  <textarea readonly>{{ answer.6 }}</textarea>  
                                  <h3>Answer for Question 7:</h3>
                                  <textarea readonly>{{ answer.7 }}</textarea> 
                                  <h3>Answer for Question 8:</h3>
                                  <textarea readonly>{{ answer.8 }}</textarea>  
                                  <h3>Answer for Question 9:</h3>
                                  <textarea readonly>{{ answer.9 }}</textarea>  
                                  <h3>Answer for Question 10:</h3>
                                  <textarea readonly>{{ answer.10 }}</textarea>  
                          </div>                       
                  
                      <div class="mark-item">
                          <label for="marks">Total Marks:</label>
                              <input type="number" name="marks" min="0" max="10" required>
                              <input type="hidden" name="answer_id" value="{{ answer.0 }}">
                      </div>
                      <button type="submit" class="next-button">Submit Marks</button>
                      {% endfor %}
                  
                  </form>
                  {% endif %}
                 
                  {% if not answers and job_post_id and job_seeker_id %}
                  <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
                    <p style="font-size: 50px;">Job seeker doesn't participate yet</p>
                  </div>
                  {% endif %}
                  {% if not job_seekers and job_post_id %}
                  <div style="display: flex;justify-content: center;align-items: center;height: 100%;">
                    <p style="font-size: 50px;">Empty applicant.</p>
                  </div>
                  {% endif %}
                </div>
            </div>

        </div>
    </div>
  </main>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
