{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/company-details.css' %}" />
  </head>
  <body>
    {% include 'topbar.html' %}
    <main>
      <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main-content-container" style="display:flex; justify-content:center;">
          <div class="form-container" >
            <form method="POST">
              {% csrf_token %}
              <div class="company-details">
                <h2>COMPANY DETAILS</h2>
                <label for="company-name">Company Name*</label>
                <input
                  type="text"
                  id="company-name"
                  name="company-name"
                  required
                />

                <label for="address">Company Address*</label>
                <input type="text" id="address" name="address" required />

                <label for="license">Trade License No</label>
                <input type="text" id="license" name="license" />

                <label for="website">Website URL</label>
                <input type="url" id="website" name="website" />
              </div>

              <button type="submit">Submit</button>
            </form>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li class="message-{{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </main>

    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
