{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}" alt="TechJobHub Logo">
                <h1>TechJobHub</h1>
            </div>
            <div class="nav-links">
              {% if role == 'recruiter' %}
                <a href="/create-post">Create Post</a>
              {% endif %}
              <a href="/dashboard">Home</a>
              <a href="/about">About Us</a>
              <a href="/contact">Contact</a>
            </div>
            {% include 'topbar.html' %}
        </nav>
    </header>

    <main>
      <section class="job-post">
          <div class="job-card">
              <p>We’d love to hear from you! Whether you have questions, feedback, or need support, our team is here to help.<br> 
                Feel free to reach out through any of the following options:<br><br>

                <b>Email:</b><br>
                For inquiries, support, or feedback, email us at:<br>
                <a href="mailto:support@techjobhub.com">support@techjobhub.com</a><br><br>
                
                <b>Phone:</b><br>
                You can reach us at:<br>
                +8801773060694<br><br>

                <b>Address:</b><br>
                Noakhali Science and Technology University<br>
                Noakhali</p>
          </div>
      </section>
  </main>
        
</body>
</html>