{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}" alt="TechJobHub Logo">
                <h1>TechJobHub</h1>
            </div>
            <div class="nav-links">
              {% if role == 'recruiter' %}
                <a href="/create-post">Create Post</a>
              {% endif %}
              <a href="/dashboard">Home</a>
              <a href="/about">About Us</a>
              <a href="/contact">Contact</a>
            </div>
            <div class="nav-icons">
                <a href="/profile" title="Profile" class="icon profile-icon" aria-label="Profile">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="White">
                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>                
                </a>
                <a href="/menu-options" title="Menu" class="icon menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/>
                    </svg>
                </a>
            </div>
        </nav>
    </header>

    <main>
      <section class="job-post">
          <div class="job-card">
              <p>We’d love to hear from you! Whether you have questions, feedback, or need support, our team is here to help.<br> 
                Feel free to reach out through any of the following options:<br><br>

                <b>Email:</b><br>
                For inquiries, support, or feedback, email us at:<br>
                <a href="mailto:support@techjobhub.com">support@techjobhub.com</a><br><br>
                
                <b>Phone:</b><br>
                You can reach us at:<br>
                +8801773060694<br><br>

                <b>Address:</b><br>
                Noakhali Science and Technology University<br>
                Noakhali</p>
          </div>
      </section>
  </main>
        
</body>
</html>