{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  </head>
  <body>
    {% include 'topbar.html' %}
    
    <main>
      {% if not job_posts or role == 'job_seeker' %}
      <section class="hero">
        <h2>Search, Apply &amp; Get Your Dream Job</h2>
        <p>
          Explore opportunities, take action, and secure the career you've
          always wanted.
        </p>
      </section>

      <section class="job-categories">
        <div class="category">Graphic Designer</div>
        <div class="category">UI Designer</div>
        <div class="category">Data Scientist</div>
        <div class="category">Back-end Developer</div>
        <div class="category">Junior NLP Engineer</div>
        <div class="category">Full Stack Developer</div>
        <div class="category">Quality Assurance Tester</div>
        <div class="category">Network Engineer</div>
        <div class="category">Cloud Engineer</div>
      </section>
      {% else %} {% comment %}
      <div class="dashboard-container">
        {% if role == 'recruiter' %}
        <h2>Your Job Posts</h2>
        {% else %}
        <h2>Available Job Posts</h2>
        {% endif %} {% endcomment %}
        <div class="posts-container">
          {% if job_posts %} {% for post in job_posts %}
          <div class="job-card">
            <div class="job-card-header">
              <span class="date">{{ post.6 }}</span>
            </div>
            <div class="job-card-body">
              <span class="company-name">{{ post.11 }}</span><br /><br />
              <span class="job-title">{{ post.1 }}</span>
            </div>
            <a href="/job-posts/{{ post.0 }}" class="details-button">Details</a>
          </div>

          {% comment %}
          <div class="post">
            <h3>{{ post.0 }}</h3>
            <p><strong>Description:</strong> {{ post.1 }}</p>
            <p><strong>Location:</strong> {{ post.2 }}</p>
            <p><strong>Key Responsibilities:</strong> {{ post.3 }}</p>
            <p><strong>Educational Requirement:</strong> {{ post.4 }}</p>
            <p><strong>Year of Experience:</strong> {{ post.5 }}</p>
            <p><strong>Deadline:</strong> {{ post.6 }}</p>
            <p><strong>Type:</strong> {{ post.7 }}</p>
          </div>
          {% endcomment %} {% endfor %} {% else %}
          <p>No job posts available.</p>
          {% endif %}
        </div>
      </div>
      {% endif %}
    </main>
  </body>
</html>
