{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/job-posts.css' %}">
    {% comment %} <script src="{% static 'js/Post.js' %}"></script> {% endcomment %}
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}" alt="TechJobHub Logo">
                <h1>TechJobHub</h1>
            </div>
            <div class="nav-links">
              {% if role == 'recruiter' %}
                <a href="/create-post">Create Post</a>
              {% endif %}
              <a href="/dashboard">Home</a>
              <a href="/about">About Us</a>
              <a href="/contact">Contact</a>
            </div>
            <div class="nav-icons">
                <a href="/profile" title="Profile" class="icon profile-icon" aria-label="Profile">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="White">
                        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>                
                </a>
                <a href="/menu-options" title="Menu" class="icon menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/>
                    </svg>
                </a>
            </div>
        </nav>
    </header>

    <main>
        <section class="job-post">
            <div class="job-card">
                <h2>Company Name: {{ company_name }}</h2>
                <h3>Job Title: {{ title }}</h3>
                <p><b>Description</b> : {{ description }}</p>
                <p><b>Key Responsibilities </b> : {{ key_responsibilities }}</p>
                <p><b>Location</b>: {{ location }}</p>
                <p><b>Deadline</b>: {{ deadline }}</p>
                <p><b>Year of Experience</b>: {{ year_of_experience }}</p>
                <p><b>Job Type</b>: {{ type }}</p>
                <a href="/application?job_post_id={{ job_post_id }}&&job_seeker_id={{ job_seeker_id }}">Apply Here</a>
            </div>
        </section>
        {% if message %}
            {{ message }}
        {% endif %}
    </main>
</body>
</html>