{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/menu-options.css' %}">
    {% comment %} <script src="{% static 'js/Menu_options.js' %}"></script> {% endcomment %}
</head>
<body>
    <div class="container">
        {% include 'sidebar.html' %}

        <div class="main-content">
            {% include 'topbar.html' %}
        </div>
    </div>
    <script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
