{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/rating.css' %}">
</head>
<body>
    {% include 'topbar.html' %}
    <main>
      <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main-content-container">

            <!-- Ratings Section -->
            {% if role == 'job_seeker' %}
                <div class="ratings-section">
                    <h2>Your Recent Rating</h2>
                    <div class="rating-circle">
                        <p><strong>Job Title: {{ job_title }}</strong></p>
                        <p>Recent Rating: {{ recent_rating|floatformat:1 }}</p>
                        <div class="score-circle">
                            <span>{{ recent_rating|floatformat:1 }}</span>
                        </div>
                    </div>
                </div>
                <div class="ratings-section">
                    <p><strong>Average Rating: {{ average_rating|floatformat:1 }}</strong></p>
                </div>
            {% endif %}

        </div>
    </div>
  </main>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>