{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/recommend-job.css' %}">
    {% comment %} <script src="{% static 'js/Rec_job.js' %}"></script> {% endcomment %}
</head>
<body>
    <div class="container">
        {% include 'sidebar.html' %}

        <div class="main-content">
            <div class="top-nav">
                <div class="topbutton">
                    <a href="/dashboard">Home</a>
                    <a href="/about">About Us</a>
                    <a href="/contact">Contact</a>
                </div>
                <div class="nav-icons">
                    <a href="/profile" title="Profile" class="icon profile-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                        </svg>
                    </a>                       
                    <a href="/menu-options" title="Menu" class="icon menu-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                            <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"/>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="job-cards-section">
                {% if jobs %} {% for job in jobs %}
                <div class="job-card">
                    <div class="job-card-header">
                        <span class="date">{{job.4}}</span>
                        <a href="/bookmarks?job_post_id={{ job.0 }}">☆</a> 
                    </div>
                    <div class="job-card-body">
                        <span class="company-name">{{ job.5 }}</span><br><br>
                        <span class="job-title">{{job.1}}</span>
                    </div>
                    <a href="/job-posts/{{ job.0 }}" class="details-button" >Details</a>
                </div>
                {% endfor %} {% else %}
                    <p>No job posts available.</p>
                {% endif %}
            </div>

        </div>
        
    </div>
    {% comment %} <script>
        const bookmarkIcons = document.querySelectorAll('.bookmark-icon');
        bookmarkIcons.forEach(function(icon) {
            icon.addEventListener('click', function() {
                if (icon.textContent === '★') {
                    icon.textContent = '☆';
                } else {
                    icon.textContent = '★';
                }
            });
        });
</script> {% endcomment %}
</body>
</html>