{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/set-assessment.css' %}" />
  </head>
  <body>
    {% include 'topbar.html' %}
    <main>
      <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main-content-container">



          <div class="content-area">
            <h1 class="page-title">Set Assessment Questions</h1>

            {% if not job_post_id %}

            <div class="job-cards-section">
              {% if job_post %} {% for job in job_post %}
              <div class="job-card">
                <div class="job-card-header">
                  <span class="date">{{job.4}}</span>
                </div>
                <div class="job-card-body">
                  <span class="company-name">{{ job.5 }}</span><br /><br />
                  <span class="job-title">{{job.1}}</span>
                </div>
                <a href="?job_post_id={{ job.0 }}" class="applied-button"
                  >Select</a
                >
              </div>
              {% endfor %} {% else %}
              <p>You haven't post anything.</p>
              {% endif %}
            </div>
            {% endif %}




            {% if job_post_id %}
            <form action="" method="POST">
              {% csrf_token %}
              <div class="questions-container">
                {% for i in question_range %}
                <div class="question-item">
                  <label for="question{{ i }}" class="question-label"
                    >Question {{ i }}:</label
                  >
                  <textarea
                    id="question{{ i }}"
                    name="question{{ i }}"
                    placeholder="Enter your question here..."
                    maxlength="300"
                    class="question-input"
                    required
                  ></textarea>
                </div>
                {% endfor %}
              </div>

              <button type="submit" class="next-button">Save Questions</button>

            </form>

            {% endif %}


          </div>





        </div>
      </div>
    </main>

    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
