{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/set-assessment.css' %}">
    {% comment %} <script src="{% static 'js/Set_assessment.js' %}"></script> {% endcomment %}
</head>
<body>
    <div class="container">
        {% include 'sidebar.html' %}

        <div class="main-content">
            {% include 'topbar.html' %}

            <div class="content-area">
              <h1 class="page-title">Set Assessment Questions</h1>
              {% if messages %}
              <ul class="messages">
                  {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                  {% endfor %}
              </ul>
              {% endif %}
              <form action="/set-assessment/" method="POST">
                
                {% csrf_token %}
                <input type="hidden" name="application_id" value="{{ application_id }}">
                <div class="questions-container">
                    {% for i in question_range %}
                    <div class="question-item">
                        <label for="question{{ i }}" class="question-label">Question {{ i }}:</label>
                        <textarea 
                            id="question{{ i }}" 
                            name="question{{ i }}" 
                            placeholder="Enter your question here..." 
                            maxlength="300" 
                            class="question-input"
                            required></textarea>
                    </div>
                    {% endfor %}
                </div>
                  <button type="submit" class="next-button">Save Questions</button>
              </form>
          </div>
            
        </div>
    </div>
    <script src="{% static 'js/profile.js' %}" > </script>
</body>
</html>