{% load static %}
<div class="sidebar">
  <div class="logo">
    <img src="{% static 'image/logo.png' %}" alt="Logo" />
    <h1>TechJobHub</h1>
  </div>
  <ul class="nav-links">
    <li>
      <a href="/bookmarks"><span class="icon">&#128213;</span> Bookmarks</a>
    </li>
    <li>
      <a href="/drop-resume"><span class="icon">&#128193;</span> Drop Resume</a>
    </li>
    <li>
      <a href="/recommend-job"
        ><span class="icon">&#9881;</span> Recommended Job</a
      >
    </li>
    <li>
      <a href="/application-list"
        ><span class="icon">&#9998;</span> Apply List</a
      >
    </li>
    <li>
      <a href="#"><span class="icon">&#128196;</span> Assessify</a>
      <ul>
        <li><a href="/set-assessment">Set Assessment</a></li>
        <li><a href="/assessment">Assessment Q&A</a></li>
        <li><a href="/assessment-mark">Assessment Mark</a></li>
        <li><a href="/rating">Ratings</a></li>
        <li><a href="/applicant-list">Virtual Interview</a></li>
      </ul>
    </li>
    <li>
      <a href="#"><span class="icon">&#9881;</span> Settings</a>
    </li>
    <li>
      <a href="#"><span class="icon">&#128682;</span> Logout</a>
    </li>
  </ul>
</div>
