{% load static %}
<header>
  <nav>
      <a href="/" class="logo">
        <img src="{% static 'image/logo.png' %}"  alt="TechJobHub Logo" />
        <h1>TechJobHub</h1>
      </a>
  <div class="nav-item-container">
    <div class="topbutton">
      <a href="/dashboard">Home</a>
      <a href="/extractify">Extractify</a>
      {% if role == 'recruiter' %}
      <a href="/company-details">Company</a>
      {% elif role == 'job_seeker' %}
      <a href="/recommend-job">Jobs</a>
      {% endif %}
    </div>
    <div class="nav-icons">
      <a href="/profile" title="Profile" class="icon profile-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
          <path
            d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
          />
        </svg>
      </a>
    </div>
  </div>
    <nav>
    </header>
