{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/virtual-interview.css' %}">
</head>
<body>
    {% include 'topbar.html' %}
    <main>
      <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main-content-container">
            
            <!-- Applicant List -->
            <div class="form-section">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="applicant-email">Select Applicant Email</label>
                        <select name="applicant-email" id="applicant-email">
                            {% for email in applicant_emails %}
                                <option value="{{ email }}">{{ email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="set-date">Set Date</label>
                        <input type="date" id="set-date" name="set-date">
                    </div>
                    <div class="form-group">
                        <label for="set-time">Set Time</label>
                        <input type="time" id="set-time" name="set-time">
                    </div>
                    <div class="form-group">
                        <label for="meet-link">Meet link:</label>
                        <input type="text" id="meet-link" name="meet-link" value="http://meet.google.com/zod-xzaw-wni?hs=179&authuser=0">
                    </div>
                    <button type="submit" class="invite-btn">Invite</button>
                </form>
                
            </div>

        </div>
    </div>
  </main>

  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
