{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechJobHub</title>
    <link rel="stylesheet" href="{% static 'css/Signup.css' %}" />
    <script src="{% static 'js/Signup.js' %}" defer></script>
  </head>
  <body>
    <div class="overlay">
      <div class="header">
        <img
          src="{% static 'images/logo.png' %}"
          alt="TechJobHub Logo"
          class="logo"
        />
        <h1 class="title">TechJobHub</h1>
      </div>
      <div class="container">
        <div class="content">
          <h2 class="main-heading">TECHJOBHUB</h2>
          <p class="description">
            TechJobHub is an online platform that matches job seekers with the
            <br />
            right positions and enables recruiters to post jobs, conduct tests,
            <br />
            and hold interviews online. It simplifies hiring and supports career
            <br />
            growth for both new and experienced professionals.
          </p>
        </div>
        <div class="sign-up-form">
          <div class="form-header">
            <h3>Sign Up</h3>
            <a href="{% url 'Login' %}">Sign In</a>
          </div>
          <div class="messages">
            {% if messages %}
              {% for message in messages %}
                <p style="color: rgb(33, 32, 32); font-weight: bold;">{{ message }}</p>
              {% endfor %}
            {% endif %}
          </div>
          <form class="form" action="{% url 'signaction' %}" method="post">
            {% csrf_token %}
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname"  />

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname"  />

            <label for="email">Email</label>
            <input type="email" id="email" name="email"  />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" />

            <label for="role">Role</label>
            <input list="con" name="role" id="role"  />
            <datalist id="con">
              <option value="Recruiter"></option>
              <option value="Job Seeker"></option>
            </datalist>

            <button type="submit" class="sign-up-btn">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
