{% extends 'base.html' %}
{% block title %}Job List{% endblock %}

{% block content %}
<h2>Job Listings</h2>
<ul>
    {% for job in jobs %}
        <li>
            <strong>Title:</strong> {{ job.title }}<br>
            <strong>Company:</strong> {{ job.company }}<br>
            <strong>Description:</strong> {{ job.description }}<br>
            <strong>Location:</strong> {{ job.location }}<br>
            <strong>Category:</strong> {{ job.category }}<br>
            <strong>Posted on:</strong> {{ job.posted_date }}
        </li>
        <hr>
    {% empty %}
        <p>No jobs available.</p>
    {% endfor %}
</ul>
{% endblock %}
